body{
    color: #797979;

    background: #eeeeee;
}
form{
	background: rgba(213,215,222,0.4);
    border: 1px solid #B0B6BE;
	padding: 10px;
	text-align: left;

}
label{
	margin: 0px;

}
input{
	

}
#loadingmessage {
     
     position: absolute;
     left: 50%;
     top: 50%;     
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px; 
     
     
     background-color: #fefefe;
     z-index: 99;
    
 }